# COPIA ESTE ARCHIVO A 'terraform.tfvars' Y RELLENA TUS DATOS
# NO SUBAS EL ARCHIVO .tfvars REAL A GIT

tailscale_auth_key = "tskey-auth-"
vps_monitoring_ip  = "100.89."
db_password = "e"
# ... tus otras variables ...
zabbix_user = "u"
zabbix_pass = "p"
