apiVersion: 1

datasources:
  # --- 1. Conexión con Loki (Logs) ---
  - name: Loki
    type: loki
    uid: loki-local
    access: proxy
    url: http://loki:3100
    jsonData:
      maxLines: 1000
    isDefault: false # No por defecto, para obligarnos a elegirlo conscientemente

  # --- 2. Conexión con Zabbix (Métricas) ---
  - name: Zabbix
    type: alexanderzobnin-zabbix-datasource
    uid: zabbix-local
    access: proxy
    url: http://zabbix-web:8080/api_jsonrpc.php
    user: Admin
    # Nota: La contraseña por defecto de Zabbix es 'zabbix'.
    # Si la cambias en la web, tendrás que actualizarla aquí.
    password: zabbix
    jsonData:
      trends: true
      dbConnection: true
    isDefault: true # Este será el datasource principal
