apiVersion: 1

datasources:
  # --- 1. Conexión con Loki ---
  - name: Loki
    type: loki
    uid: loki-local
    access: proxy
    url: http://loki:3100
    jsonData:
      maxLines: 1000
    isDefault: false

  # --- 2. Conexión con Zabbix ---
  - name: Zabbix
    type: alexanderzobnin-zabbix-datasource
    uid: zabbix-local
    access: proxy
    url: http://zabbix-web:8080/api_jsonrpc.php
    
    # ---------------------------------------------------------
    # CONFIGURACIÓN PÚBLICA (Aquí va el usuario de la API)
    # ---------------------------------------------------------
    jsonData:
      trends: true
      dbConnection: true
      cacheTTL: 10m
      username: Admin   # <--- AQUI ES DONDE DEBE ESTAR
    
    # ---------------------------------------------------------
    # CONFIGURACIÓN SECRETA (Aquí va la contraseña)
    # ---------------------------------------------------------
    secureJsonData:
      password: UkBqMNJ9P2YtG2

    isDefault: true
    editable: true



